/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
// $--color-primary: teal;

// /* icon font path, required */
// $--font-path: '~element-ui/lib/theme-chalk/fonts';

// @import "~element-ui/packages/theme-chalk/src/index";


/* 改变主题色变量 */
$--color-primary: #000;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
@import "~assets/css/mixin.scss";

// 修改输入框校验的颜色
.el-form-item.is-error .el-input__inner, .el-form-item.is-error .el-input__inner:focus, .el-form-item.is-error .el-textarea__inner, .el-form-item.is-error .el-textarea__inner:focus{
    border-color:$red;
}
.el-form-item__error{
    color: $red;
}
.el-form-item.is-success .el-input__inner{
    border-color: $black;
}
.el-form-item.is-success .el-input__inner:focus,.el-form-item.is-success .el-textarea__inner:focus{
    border-color: $black;
}
.el-form-item.is-success .el-input__inner,.el-form-item.is-success .el-textarea__inner {
    border-color: #e4e7ed;
}
.el-button--danger{
    background-color: $red;
}
.el-message-box__status.el-icon-warning {
    color: $red;
}
.el-form-item.is-required .el-form-item__label:before {
    content: '*';
    color: $red;
    margin-right: 4px;
}
.el-input.is-disabled .el-input__inner {
    background-color: #f5f7fa;
    border-color: #e4e7ed;
    color: #c0c4cc;
    cursor: not-allowed;
}
.el-message-box__content{
    text-align: center;
}
.el-message-box__status{
    left: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}
.el-message-box__status.el-icon-success{
    color: #000;
}
